{% extends 'base.html.twig' %}

{% block title %}Rédiger FAQ{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Rédiger FAQ</h1>

    {{ include('faq/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('faq_index') }}">Retour à l'index</a>

    {{ include('faq/_delete_form.html.twig') }}
</div>
{% endblock %}
