{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<div class="row w-25">
    <img src="https://unsplash.com/photos/Zq0eVWKQqIo" alt="">
</div>
{% endblock %}
