{% extends 'base.html.twig' %}

{% block title %}New Environnement{% endblock %}

{% block body %}
    <h1>Créer une nouvelle recherche</h1>

    {{ include('environnement/_form.html.twig') }}


{% endblock %}
