body {
    background-color: #fffaf1;
}

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #ffffff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

.footer #button{
    width:35px;
    height:35px;
    border: #41abb9 12px solid;
    border-radius:35px;
    margin:0 auto;
    position:relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
    width:35px;
    height:35px;
    border: #41abb9 12px solid;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position:relative;
}
.footer {
    bottom:0;
    left:0;
    position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    z-index:999;
}
.footer:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    height: 10em;
}
.footer #container{
    margin-top:5px;
    width:100%;
    height:100%;
    position:relative;
    top:0;
    left:0;
    background: #41abb9;
}
.head{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 100%;
}
.head .title{
    width:35vw;
    height: 20vh;
    word-wrap: break-word;
    margin-left:5%;
    margin-top:10%;
    margin-bottom: auto;
}
.search h3{
    margin-top : 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.search{
    width:65vw;
    height: 15vh;
    background: linear-gradient(90deg, rgba(255,255,255,0.7399160347732843) 0%, rgba(255,255,255,0.8799720571822479) 50%, rgba(255,255,255,1) 100%);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    color:#41abb9;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    text-align: center;
}
#form1{
    width:50vw;
}
#search-input{
    margin-left: 10%;
}

hr.style1 {
    height: 10px;
    border: 0;
    color: #41abb9;
    box-shadow: 0 10px 10px -10px #41abb9 inset;
}
.popular{
    margin-top: 20px;
}
.card-deck{
    margin: auto;
}

#map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
    height:400px;
}

.popular_content{
    padding:60px
}
.carousel-indicators li{
    background-color: #41abb9;
}
.jumbotron{
    background: linear-gradient(90deg, rgba(65,171,185,0) 0%, rgba(65,171,185,0.4233894241290266) 39%, rgba(65,171,185,0.6922969871542367) 100%);
}
.jumbotron_blog{
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.host_img{
    background-image: url("../img/hote_index.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 30vh;
}
.admin{
    background-image: url("../img/bodyadmin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}


.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.nav-pills .nav-link.active{
    background-color:#41abb9;
}