<footer>
    <div class="footer">
        <div id="button"></div>
        <div id="container">
            <div class="col-12 d-flex">
                <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                    <h5>A propos</h5>
                    <a href="#">Contact</a>
                    <a href="#">C.G.V</a>
                    <a href="#">Mentions Légales</a>
                    <a href="#">Plan du site</a>
                </div>
                <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                    <h5>Infos Pratiques</h5>
                    <a href="{{path ('host_host')}}">Hôtes</a>
                    <a href="{{path ('environnement_home')}}">Lieux à visiter</a>
                    <a href="{{path ('blogpost_blog')}}">Blog</a>
                    <a href="{{path ('faq_public')}}">F.A.Q</a>
                </div>
                <div class="col-6 d-flex flex-column align-items-center">
                    <h5>CampinGarden</h5>
                    <p>Développé avec amour par :</p>
                    <p>Hans NITHILA, Emilie DI PONIO, Aline THOMAS, Bastien MOREAU</p>
                    <p>Tel : 06.00.00.00.00 / Mail : Campingarden@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</footer>