{% extends 'base.html.twig' %}

{% block title %}déposer une annonce{% endblock %}

{% block body %}
    <div class="container mt-4">

    <h1>déposer une annonce</h1>

    {{ include('host/_form.html.twig', {'button_label': 'Mise à jour'}) }}


    {{ include('host/_delete_form.html.twig') }}
    </div>
    
{% endblock %}
